<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="/main" (click)="onBackPressed()"></ion-back-button>
    </ion-buttons>
    <ion-title>detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-fab slot="fixed" vertical="bottom" horizontal="end" (click)="navigateToEdit()">
    <ion-fab-button>
      <ion-icon name="create"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-infinite-scroll>
    <ion-img src="{{pasta?.url}}"></ion-img>
    <ion-grid class="ion-padding">
      <ion-row class="ion-margin-bottom">
        <ion-text color="dark" style="font-size: 18px; font-weight: bolder">{{pasta?.name}}</ion-text>
      </ion-row>
      <ion-row class="ion-margin-bottom">
        <ion-text class="ion-text-justify">{{pasta?.description}}
        </ion-text>
      </ion-row>
    </ion-grid>

    <div class="ion-padding">
      <ion-text color="dark" style="font-size: 18px; font-weight: bolder">How To Make :</ion-text>
    </div>


    <ng-container *ngFor="let item of pasta?.pasta_instruction">
      <ion-card style="">
        <ion-grid class="ion-padding">
          <ion-row class="ion-margin-bottom">
            <ion-text color="dark" style="font-size: 18px; font-weight: bolder">Step {{item.step}}</ion-text>
          </ion-row>
          <ion-row>
            <span>{{item.instruction}}</span>
          </ion-row>
        </ion-grid>
      </ion-card>
    </ng-container>

    <ion-grid class="ion-padding">
      <ion-row class="ion-margin-bottom">
        <ion-text class="ion-margin-top" color="dark" style="font-size: 18px; font-weight: bolder">Add New Step
        </ion-text>
      </ion-row>
      <ion-row>
        <ion-textarea [(ngModel)]="addParagraph" class="ion-margin-top ion-margin-bottom text-area-medium-height"
                      fill="outline"
                      label="New step instruction"
                      label-placement="floating"
                      placeholder="Enter description of pasta"></ion-textarea>
      </ion-row>
      <ion-row>
        <ion-button (click)="onSubmitStep()">
          Submit
        </ion-button>
      </ion-row>
    </ion-grid>
  </ion-infinite-scroll>
</ion-content>
