<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="/main" (click)="onBackPressed()"></ion-back-button>
    </ion-buttons>
    <ion-title>detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-fab slot="fixed" vertical="bottom" horizontal="end" (click)="addFavorite()">
    <ion-fab-button>
      <ion-icon name="heart-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-infinite-scroll>
    <ion-img src="{{storyData?.thumbnail}}"></ion-img>
    <ion-grid class="ion-padding">
      <ion-row class="ion-margin-bottom">
        <ion-text color="dark" style="font-size: 18px; font-weight: bolder">{{storyData?.title}}</ion-text>
      </ion-row>
      <ion-row class="ion-margin-bottom">
        <ion-text class="ion-text-justify">{{storyData?.desc}}</ion-text>
      </ion-row>

      <ion-row class="ion-margin-bottom">
        <ion-text class="ion-text-justify">Created By {{storyData?.desc}}</ion-text>
      </ion-row>
    </ion-grid>

    <div class="ion-padding">
      <ion-text color="dark" style="font-size: 18px; font-weight: bolder">Story :</ion-text>
    </div>


    <ng-container *ngFor="let item of storyData?.cerbungStory">
      <ion-card style="">
        <ion-grid class="ion-padding">
          <ion-row>
            <span>{{item.desc}}</span>
          </ion-row>
          <ion-row class="ion-margin-top">
            <span>Created At null</span>
          </ion-row>
        </ion-grid>
      </ion-card>
    </ng-container>

    <ion-grid class="ion-padding">
      <ion-row class="ion-margin-bottom">
        <ion-text class="ion-margin-top" color="dark" style="font-size: 18px; font-weight: bolder">Add New Paragraph
        </ion-text>
      </ion-row>
      <ion-row>
        <ion-textarea [(ngModel)]="addParagraph" class="ion-margin-top ion-margin-bottom text-area-medium-height"
                      fill="outline"
                      label="Enter new paragraph"
                      label-placement="floating"
                      placeholder="Enter new paragraph"></ion-textarea>
      </ion-row>
      <ion-row>
        <ion-button (click)="onSubmitStep()">
          Submit
        </ion-button>
      </ion-row>
    </ion-grid>
  </ion-infinite-scroll>
</ion-content>
