<ion-card>
  <ion-card-header>
    <ion-card-title>{{title}}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <div class="ion-margin-bottom">
      <ion-text>{{description}}</ion-text>
    </div>
    <p *ngIf="discount !== '0%'" style="font-size: medium;font-weight: bold;color: darkblue">Discount : {{discount}}</p>
    <p *ngIf="discount === '0%'" style="font-size: medium;font-weight: bold;color: darkblue">Price : {{price}}</p>
    <p *ngIf="discount !== '0%'" style="text-decoration: line-through;color: red">Price : {{price}}</p>
    <p *ngIf="discount !== '0%'" style="color: green">Price : {{discountedPrice}}</p>
  </ion-card-content>
</ion-card>
