<ion-app class="ion-padding">
  <ion-router-outlet id="main-content"></ion-router-outlet>
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Cerbung</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-list>
        <ion-menu-toggle auto-hide="true">
          <ion-item>
            <ion-text>This feature is under construction</ion-text>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="home"></ion-icon>
        Home
      </ion-tab-button>
      <ion-tab-button tab="following">
        <ion-icon name="analytics"></ion-icon>
        Following
      </ion-tab-button>
      <ion-tab-button tab="create">
        <ion-icon name="paper-plane"></ion-icon>
        Create
      </ion-tab-button>
      <ion-tab-button tab="users">
        <ion-icon name="people"></ion-icon>
        Users
      </ion-tab-button>
      <ion-tab-button tab="prefs">
        <ion-icon name="settings"></ion-icon>
        Preference
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-app>
