<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Sign In</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div style="height:50%;display: flex;justify-content: center;align-items: center;flex-direction: column">
   <img src="https://mir-s3-cdn-cf.behance.net/project_modules/hd/cbc29d101633189.5f23077f105ec.jpg">
  </div>
  <div style="height: 50%;display: flex;flex-direction: column;justify-content: flex-start">
    <ion-input [(ngModel)]="email" type="text" label="Email" label-placement="floating" fill="outline"
               placeholder="Enter username"></ion-input>
    <ion-input [(ngModel)]="password" class="ion-margin-top" label="Password" label-placement="floating"
               fill="outline"
               placeholder="Enter password"
               type="password"></ion-input>

    <ion-button (click)="signIn()" class="ion-margin-top" shape="round" expand="block">Sign In</ion-button>
    <ion-button (click)="navigateToSignUp()"color="" class="ion-margin-top" fill="outline" shape="round" expand="block">Sign Up
    </ion-button>
    <ion-grid class="ion-margin-top">
      <div *ngFor="let msg of validationMessage">
        <ion-label color="danger">
          ▶ {{msg}}
        </ion-label>
      </div>
    </ion-grid>
  </div>
</ion-content>
