<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      Home
    </ion-tab-button>
    <ion-tab-button tab="following">
      <ion-icon name="analytics"></ion-icon>
      Following
    </ion-tab-button>
    <ion-tab-button tab="create">
      <ion-icon name="paper-plane"></ion-icon>
      Create
    </ion-tab-button>
    <ion-tab-button tab="users">
      <ion-icon name="people"></ion-icon>
      Users
    </ion-tab-button>
    <ion-tab-button tab="prefs">
      <ion-icon name="settings"></ion-icon>
      Preference
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
