<app-toolbar title="List Of Product"></app-toolbar>
<ion-content [fullscreen]="true">
  <ion-item>
    <ion-input [(ngModel)]="enteredPromo" label="Promo code : " placeholder="Enter promo"></ion-input>
    <ion-button expand="block" (click)="submitCode(enteredPromo)">submit</ion-button>
  </ion-item>
  <div class="ion-padding-horizontal" *ngIf="showedMessage !== ''">
    <ion-text [ngStyle]="{'color':messageStatus}" style="font-size: small;">{{showedMessage}}</ion-text>
  </div>

  <div *ngFor="let item of items">
    <app-list-view-holder title="{{item.title}}" price="{{item.price}}" discount="{{item.discount}}%"
                          discountedPrice="{{item.discountedPrice}}"
                          description="{{item.description}}"></app-list-view-holder>
  </div>
</ion-content>
