<app-toolbar title="Pasta"></app-toolbar>

<ion-content [fullscreen]="true">
  <ion-segment [(ngModel)]="selectedView" (ionChange)="onChangeSelected(selectedView)">
    <ion-segment-button value=0>
      <ion-label>Accordion</ion-label>
    </ion-segment-button>
    <ion-segment-button value=1>
      <ion-label>Card</ion-label>
    </ion-segment-button>
    <ion-segment-button value=2>
      <ion-label>Grid</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div class="ion-padding">
    <div *ngFor="let item of listOfPasta">
      <app-pasta-card-view-holder [spice]="item.spice" imgUrl="{{item.url}}" title="{{item.name}}" description="{{item.description}}"></app-pasta-card-view-holder>
    </div>
  </div>
</ion-content>
